# YANGI .env FAYL qo'shing
# QUYIDAGI MA'LUMOTLARNI YOZING:

# Telegram BOT uchun adminlar ro'yxati
ADMINS = 123456789,87654321

# Telegram BOT uchun API token 
BOT_TOKEN = your_bot_token_here

# Django settings dagi SECRET_KEY
SECRET_KEY = 'django-insecure-_1GB?DASJKD433'

# Django settings dagi DEBUG
DEBUG = 'True'

#ngrok yoki jprq dan foydalaning
NGROK_AUTH_TOKEN=your_ngrok_auth_token_here
JPRQ_AUTH_KEY=your_jprq_auth_key_here

# webhook uchun  domain. Local bo'lsa masalan: ngrok
# WEBHOOK_DOMAIN = 'https://madad-bola.jprq.site'
WEBHOOK_DOMAIN = 'https://x.ngrok-free.app'

# BASE_URL -> saytingizning asosiy manzili
BASE_URL = 'http://localhost:1025/api'

NGROK_URL= 'x.ngrok-free.app'
# JPRQ_URL= 'x'

ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0,x.jprq.site,y.jprq.site
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost,https://x.jprq.site,https://y.jprq.site

BEARER_AUTH_TOKEN=your_sms_auth_token
